.main-panel{
    background-color: #0b0f11;
    display: flex;
    flex-direction: column;
    color: #dcebf1;
    border-radius: 10px;
    width: 1217px;
    margin: 1%;
    .upload{
        display: flex;
        flex-direction: row-reverse;
        background-color: #071f36;
        margin: 2%;
        border-radius: 10px;
        height: 50px;
        form{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 30%;
            .input-label{
                margin: 0 5%;
                width: 15%;
                img{
                    width: 90%;
                }
                .file-input{
                display: none;
                }
                &:hover{
                    cursor: pointer;
                }
            }
            button{
                display: flex;
                flex-direction: row;
                align-items: center;
                border: none;
                background-color: #071f36;
                width: 15%;
                height: 100%;
                margin: 0 5%;
                padding: 0;
                color: #aeddf1;
                font-size: 100%;
                img{
                    margin: 5%;
                    width: 100%;
                }
                &:hover{
                    cursor: pointer;
                }
            }
        } 
    }
}