.navbar{
    display: flex;
    flex-direction: column;
    background-color: #0b0f11;
    color: #dcebf1;
    border-radius: 10px;
    width: 260px;
    margin: 1%;
    .user-info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        height: 8%;
        margin: 5% 8%;
        margin-bottom: 15%;
        img{
            width: 17%;
        }
        .user{
            font-size: 1.3vmax;
        }
        button{
            border: none;
            width: 17%;
            height: 100%;
            padding: 0;
            background-color: #0b0f11;
            &:hover{
                cursor: pointer;
            }
            img{
                width: 100%;
            }
        }
    }
    .nav-tile{
        display: flex;
        margin: 2% 5%;
        padding: 5%;
        height: 6%;
        color:#d0e7e8;
        align-items: center;
        text-decoration: none;
        img{
            height: 80%;
        }
        .tile-name{
            margin-left: 15%;
            font-size: 160%;
        }
        &:hover{
            cursor: pointer;
        }
    }
}