.navbar{
    display: flex;
    flex-direction: column;
    background-color: #0b0f11;
    color: #dcebf1;
    border-radius: 10px;
    width: 260px;
    margin: 1%;
    .user-info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        height: 8%;
        margin: 5% 8%;
        margin-bottom: 15%;
        img{
            width: 17%;
        }
        .user{
            font-size: 1.3vmax;
        }
        form{
            width: 17%;
                height: 100%;
            button{
                border: none;
                width: 100%;
                height: 100%;
                padding: 0;
                background-color: #0b0f11;
                &:hover{
                    cursor: pointer;
                }
                img{
                    width: 100%;
                }
            }
        }
    }
    .nav-tile{
        display: flex;
        margin: 2% 5%;
        padding: 5%;
        height: 6%;
        color:#848a8e;
        align-items: center;
        text-decoration: none;
        img{
            height: 80%;
            filter: brightness(0.65);
        }
        .tile-name{
            margin-left: 15%;
            font-size: 160%;
        }
        &:hover{
            cursor: pointer;
            color:#d0e7e8;
            img{
                filter: brightness(1);
            }
        }
    }
}