.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 10vw;
    .columns{
        display: flex;
        flex-direction: row;
        height: 90vh;
        width: 100%;
    }
}